<div class="pc-top">
  <div class="pay-step">
    <div  class="stepok">
      <img class="paybookimg" src="../../assets/img/Step ok.png" >
      <div class="stepline">
        <hr style="margin:0px;height:1px;border:0px;background-color:#97C0F9;;color:#97C0F9;"/>
      </div>
      <span class="paybook">购买书籍</span>

    </div>
    <div  class="stepok">
      <img src="../../../assets/img/Step .png" ><span class="payconfirm">确认订单并支付</span>
    </div>
    <div  class="stepok">
      <img src="../../../assets/img/Step .png" >
      <span class="paysuccess">支付成功</span>
    </div>
  </div>
</div>
