<div class="pbg">

    <div class="paycontainer">
      <div class="paycontainer-top">
      <span class="user_id">
        用户名：时文娟
      </span>
        <!--<span class="money">-->
        <!--我的余额：<span class="moneycolor">￥0.00</span>-->
        <!--</span>-->
      </div>
     <!--<app-buy></app-buy>-->
      <div class="pc">
        <app-buystep></app-buystep>
        <!--<div class="pc-top">-->
          <!--<div class="pay-step">-->
            <!--<div  class="stepok">-->
              <!--<img  src="../../assets/img/Step ok.png" >-->
              <!--<span>购买书籍</span>-->
            <!--</div>-->
            <!--<div  class="stepok">-->
              <!--<img  src="../../assets/img/Step ok.png" >-->
              <!--<span>确认订单并支付</span>-->
            <!--</div>-->
            <!--<div  class="stepok">-->
              <!--<img  src="../../assets/img/Step ok.png" >-->
              <!--<span>支付成功</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="pc-bottom">
          <!--<div class="pc-bottom-top">-->
            <!--<span class="pc-bottom-top-left">书籍介绍</span>-->
            <!--<span class="pc-bottom-top-right" >价格</span>-->
          <!--</div>-->
          <!--<div class="pc-bottom-bottom">-->
            <!--<div class="pc-bottom-bottom-left">-->
              <!--<img  class="bookimgcss" src="../../assets/img/book1.jpg">-->
              <!--<div class="bm">-->
                <!--<span>私语书</span><br>-->
                <!--<span>黎歌</span>-->
              <!--</div>-->


            <!--</div>-->
            <!--<div class=" pc-bottom-bottom-right">-->
              <!--<span class="moneyspan">￥75</span>-->

            <!--</div>-->
            <!--<div class="bd">-->
              <!--<button class="btn">提交订单</button>-->
            <!--</div>-->

          <!--</div>-->
         <app-confirm></app-confirm>
        </div>
      </div>
    </div>
  </div>






