<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--<div class="nav">-->
  <app-nav></app-nav>
<!--</div>-->
<div class="top">
<app-banner></app-banner>
</div>
<div class="middle">
  <div class="middle-top">

  </div>

  <div class="middle-middle">

    <app-tab></app-tab>
  <!--<div class="middle-middle-bookshow"></div>-->
  <!--<div class="middle-middle-bookshow"></div>-->
  <!--<div class="middle-middle-bookshow"></div>-->
  <!--<div class="middle-middle-bookshow"></div>-->
  <!--<div class="middle-middle-bookshow"></div>-->
  <!--<div class="middle-middle-bookshow"></div>-->
  <!--<div class="middle-middle-bookshow"></div>-->
  <!--</div>-->
  <div class="middle-bottom">
    <app-pagination></app-pagination>
  </div>
</div>

<div class="bottom">
  <app-bootom></app-bootom>
</div>
</div>
